 <!DOCTYPE html>
<html>
    <head>
         <meta charset="UTF-8">
    </head>
    
    <div>
        <user-input></user-input> <!-- dyrektywa show pokazuje/wskazuje uzytkowniak z homeController-->
        <div ng-show="homeController.user">
            <div class="list-group">
                <a href="" class="list-group-item" ng-click="homeController.onuser">{{homeController.user}} jednego uzytkowniak</a>
                <a href="" class="list-group-item" ng-click="homeController.onall">wszystkich uzytkownikow</a>
            </div>
            <!-- tylko jak nazwa uzytkownika jest zgodna wyszukuje-->
            <div ng-switch='homeController.selectedTab'>
                <div ng-switch-when='user'>
                    <user-to-do></user-to-do>
                </div>
                <!-- dla wzystkiech uzywtkownikow-->
                <div ng-switch-when='all'>
                    <all-to-do></all-to-do>
                </div>
                
            </div>
        </div>
    </div>
    
</html>